.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
}

li{
  margin-left: 50px;
  text-decoration: none;
  display:inline;
  position: relative;
  float: left;
}

.card-meio{
  position: relative;
  border-radius: 5px;
  border: 1px solid;
  width: 265px;
  height: 300px;
  border-color: rgb(163, 163, 159);
  margin: 10px 10px 10px 10px;
}

li :hover{

  background-color: #c5c6ca;
  
}

.cards-2 img{
  text-align: center;
  margin-left: 85px;
  height:100px;
}

.cards img{
  text-align: center;
  margin-left: 85px;
  height:100px;
}

.cards h1 {
  font:20px 'discord1';
  font-size: 20px;
  font-weight: 400;
  color: rgb(48, 59, 209);
  width: 230px;
  text-align: center;
  margin-left: 20px;

}

.cards p{
  width: 230px;
  text-align: center;
  margin-left: 20px;

}

.texto-1{
  text-align: center;
  position: relative;

}

.texto-2{
  text-align: center;
  position: relative;
  width: 95%;
  margin-top: 720px;
  font-weight: lighter;
  
}

.cards-2 h1 {
  font:20px 'discord1';
  font-size: 20px;
  font-weight: 400;
  color: rgb(48, 59, 209);
  width: 230px;
  text-align: center;
  margin-left: 20px;

}

.cards-2 p{
  width: 230px;
  text-align: center;
  margin-left: 20px;

}

.cards-2{
  margin-left: 25%;
}