.header-nav{
    color: rgb(61, 61, 201);
}

.header-nav li{

text-decoration: none;
display:inline;
position: relative;
float: right;
margin-top: -10px;
font-size: 10px;
margin-right: 100px;
width: 190px;

}

.header-nav img{
    width: 150px;
    margin-left: -790px;
}

.central{
    background-color: rgb(37, 80, 220);
    text-align: center;

}

.central h1{
    margin: 100px 100px 100px 100px;
    padding-bottom: 30px;
    padding-top: 100px;
}

.botao-pesquisar{
    padding-top: 50px;
}