@font-face {
    font-family: 'discord1';
    src: url('../assets/fonts/font1.woff2');
}

@font-face {
    font-family: 'discord2';
    src: url('../assets/fonts/font2.woff2');
}

@font-face {
    font-family: 'discord3';
    src: url('../assets/fonts/font3.woff2');
}

@font-face {
    font-family: 'discord4';
    src: url('../assets/fonts/font4.woff2');
}